html {
    height:100%;
}

body {
    height: 85%;
    width:99%;
}

#board {
    cellpadding:3;
    width:100%;
    height: 99%;
    background-color:#099B09;
    text-align: center;
}

#board tr {
    height: 33%;
}

#board .board_column {
    width: 33%;
}

#vuln_dealer {
    margin-left:10%;
    margin-right:auto;
    padding-right: 1%;
    font-weight:bold;
    background-color: #C0C0C0;
    width: 25%;
    text-align: center;
    border-width: 0px;
    border-collapse: collapse;
}

#vuln_dealer tr td {
    width: 34%;
}

.vulnerable{
    background-color: red;
}

.dealer {
    border: 3px solid black;
}

.hand_container{
    position: relative;
    height: 100px;
}



.hand_container td {
    border:5px solid green;
}

.hand_container div {
    display:inline;
}

.card {
    width: 71px;
    height: 96px;
    position: absolute;
}

#part_hand_cell {
    vertical-align: top;
}

#own_hand_cell {
    vertical-align: bottom;
}

#right_hand {
    left: 40px;
}

.user {
    text-align: center;
}

#lead_area{
    margin: -15% auto 0 35%;
    width: 20%;
    height: 50%;
}

.lead {
    position: relative;
}

.highlighted{
    top: -10%;
}

.clickable {
    cursor:pointer;
}

.default_cursor {
    cursor:default;
}

.hidden {
    display: none;
}

.bidbox_pass {
    background-color: green;
    border: 1px solid grey;
    background-color: #00FF28;
    padding: 0px;
}

.bidbox_dbl {
    background-color: red;
    border: 1px solid grey;
    padding: 0px;
}

.bidbox_rdbl {
    background-color: blue;
    border: 1px solid grey;
    padding: 0px;
}

#bidbox_cell {
    text-align: right;
}

#bidbox {
    border-collapse: collapse;
    border: 2px solid grey;
    text-align: center;
    display: inline-block;
    background-color: #A3A098;
}

.bidbox_bid {
    padding: 2px;
    border: 1px solid grey;
}

.prohibited_bid{
    background-color: gray;
}

#contract_tricks {
    float: left;
    margin-top: 10%;
}

#contract {
    font-weight: bold;
    font-size: 150%;
    margin-left: 25px;
}

#contract_by {
    font-size: 80%;
    vertical-align: sub;
}

#contract img {
    width:20px;
    height:20px;
}

#trick_cntnr {
    margin-top: 5px;
}

.tricks {
    font-weight: bold;
    font-size: 150%;
    margin-left: 10px;
    margin-right: 10px;
}

#our_tricks {
    color: #2727C2;
}

#their_tricks {
    color: #E85555;
}

#last_trick {
    margin: auto auto 20% 30%;
    width: 20%;
    height: 50%;
}

#last_area {
    width: 100%;
    height: 100%;
}

#bidding_area {
    border-collapse: collapse;
    background-color: #448344;
    display: inline-block;
}

#bidding_header th {
    padding: 5px 15px 1px 15px;
    border-bottom: 1px solid yellow;
}

.bidding_row td {
    text-align: center;
    padding-top: 7px;
}

div.popup {
    background-color: white; 
}

#popup_res {
    margin: 20px 20px 0px 20px;
}

#popup_contract  {
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 5px;
    text-align: center;
}


#user_header {
    float: right;
    padding-right: 3%;
    padding-bottom: 1%;
}
