html {
    height: 96%;
}

body {
    height: 95%;
    width:99%;
    background-color:white;
}

.logo {
    border-width: 0;
}

#profile_form {
    width:100%;
    height: 96%;
    background-color:#099B09;
    overflow: auto;
}

#profile_form div{
    margin: 6px auto;
    width: 50%;
}

#profile_form h3{
    margin: 20px auto 6px auto;
    width: 50%;
}

.user {
    color: black;
    width:20%;
    height: 40px;
    border: 2px solid black;
    cursor: default;
}

.user a {
    color: blue;
}

#user_header {
    float: right;
    padding-right: 3%;
    padding-bottom: 1%;
}

