<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Webridge</title>
    <link rel="stylesheet" type="text/css" href="css/userprofile.css"/>
    <meta http-equiv="vary" content="*"></meta>
    <meta http-equiv="cache-control" content="no-store"></meta>
  <body>
    <a href="hall.html"><img class="logo" src="images/logo.png" alt="We-bridge"></img></a>
    
    <span id="user_header">
      {{p.user}}
      <a href="action.json?logoff">Log out</a>
    </span>
    
    <form method="POST" action="userprofile.html?{{username}}" id="profile_form">
      <div>Name <small>(visible to other players)</small><br/>
	<input type="text" name="name" value="{{p.nickname}}"{% if ro %} disabled="disabled" {% endif %} ></input>
      </div>
      <div>Bridge Preference <small>(please enter your bidding and play preferences)</small><br/>
	<textarea name="bridgepref" cols="50" rows="10" {% if ro %} disabled="disabled" {% endif %}>{{p.bridgeinfo}}</textarea> 
      </div>
      {% if not ro %}
      <div><input type="checkbox" name="1ton_autoplay" {% if p.autosingleton %} checked="checked" {% endif %}> 
	</input>Autoplay Singletons</div>
      {% endif %}
      <h3>Social</h3>
      <div><img src="images/skype_logo.png" alt="skype" style="width: 100px; height: 40px;"/> 
	<br/><input type="text" name="skypeid" value="{{p.skypeid}}" {% if ro %} disabled="disabled" {% endif %}>
	</input>
      </div>
      <div><img src="images/f_logo.jpg" style="vertical-align: middle; width: 16px; height: 16px;"/> profile <br/>
	<input type="text" name="facebookid" value="{{p.facebookid}}" {% if ro %} disabled="disabled" {% endif %}>
	</input> 
      </div>
      <div><img src="images/twitter_logo.png" alt="twitter" style="width: 150px; height: 30px;"/> <br/>
	<input type="text" name="twitterid"  value="{{p.twitterid}}" {% if ro %} disabled="disabled" {% endif %}>
	</input>
      </div>
      {% if not ro %}
      <div>
	<input type="submit" title="Submit"/> <input type="reset" title="Cancel"/>
      </div>
      {% endif %}
    </form>
    <div id="footpanel">
      <span class="room" id="users"> 
        <a href="#" class="roomname">Users</a> 
        <div class="roompanel"> 
          <h3>Users</h3> 
          <ul> 
	    <li>Type in user name</li>
	  </ul> 
	  <textarea rows="1"></textarea>
	</div> 
      </span>
      <span class="room" id="global">
        <a href="#" class="roomname">Global</a>
        <div class="roompanel">
          <h3>Global</h3>
          <ul>
          </ul>
	  <textarea rows="1"></textarea>
        </div>
      </span>
    </div>
  </body>
</html>
